.home {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-33%, -50%);
    text-align: center;
}

.home-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8em;
    line-height: 1em;
}

.home-title {
    font-size: 3em;
    font-weight: bolder;
}

.home-about {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    text-align: center;
    font-size: 1.65em;
}

.home-action {
    font-size: 1.65em;
    margin-top: 3%;
}

.email-button {
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.5em 0.8em;
}

.contact-buttons {
    display: flex;
    justify-content: center;
}
