.container {
    display: flex;
    align-items: center;
}

.navbar-text {
    font-size: 18px;
}

.navbar-brand {
    font-size: 28px;
    margin-right: 25px;
    cursor: pointer;
}

.navbar-button {
    font-size: 18px;
}